/**
 * Site Login
 */
body.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: #fff;


    #login {

        h1 {
            a {
                width: 100px;
                height: 100px;
                background-size: 100%;
                background-position: center center;
                background-color: #fff;
                background-image: url('./images/voting-app-icon.png');
            }
        }

        #backtoblog {
            display: none;
        }
    }
}
